@model List<Telesign2019.Models.TblCampaign>
@{
    ViewBag.Title = "SendCampaign";
}

<h2>SendCampaign</h2>

<h2>Campaign created successfully</h2>
<div>
    <h4>Tb_Provedores</h4>
    <hr />
    <dl class="dl-horizontal"></dl>

    <div class="form-actions no-color">

        @Html.ActionLink("Back to List", "Index")
    </div>

</div>

